.site-header {
	padding: 10px 0;
	/* this position will only use as much space as it needs for the content */
	position: absolute;
	width: 100%;
	z-index: 2;
	transition: background-color 0.3s ease-out;

	&--is-expanded {
		background-color: rgba($mainBlue, 0.55);
	}

	@mixin atMedium {
		/* make navbar sticky, at top */
		position: fixed;
		background-color: rgba($mainBlue, 0.3);

		&--dark {
			background-color: rgba(23, 51, 72, 0.8);
		}
	}

	&__btn-container {

		@mixin atMedium {
			float: right;
		}
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		/* shrinks equally on all 4 sides of page, perfect middle */
		transform: translateX(-50%) scale(0.8);
		/* transition smoothly */
		transition: transform 0.3s ease-out;
		/* transform origin to top */
		transform-origin: 50% 0;
		background-color: $mainBlue;
		padding: 25px 36px;

		@mixin atMedium {
			left: auto;
			transform: translateX(0);
			
			/* target logo only when it's a dark header */
			.site-header--dark & {
				transform: scale(0.57);
			}
		}
	}

	&__logo__graphic {
		text-indent: -9999px;
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		/* don't want it to be just a white box, but 3 white bars */
		/*background-color: #FFF;*/
		position: absolute;
		/* otherwise you won't be able to click button to close menu, because it'd be overlapped */
		z-index: 10;
		top: 10px;
		right: 10px;
		
		/* don't put ; after nested css }, won't work */
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transform-origin: 0 0;
			transition: transform 0.3s ease-out;
			transform-origin: 0 50%;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transition: all 0.3s ease-out;
		}
		
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transform-origin: 0 100%;
			transition: transform 0.3s ease-out;
		}

		/*&__top {
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: white;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: white;
		}

		&__bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: white;
		}*/

		@mixin atMedium {
			display: none;
		}
	}

	/* target three horizontal bars to make x */
	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}
		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__menu-content {
		/* hide content initially but gradually fade to opacity of 1*/
		opacity: 0;
		transform: scale(1.2);
		/* transition all properties or everything */
		transition: all 0.3s ease-out;
		/* ensure hidden content can't be accidentally clicked on */
		position: relative;
		z-index: -10;
		padding-top: 90px;
		text-align: center;

		@mixin atMedium {
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			transform: scale(1);
		}

		&--is-visible {
			opacity: 1;
			z-index: 1;
			transform: scale(1);
		}
	}
}