.social-icons {
	text-align: center;

	&__icon {
		background-color: $mainOrange;
		display: inline-block;
		margin: 0 5px 5px 5px;
		width: 33%;
		height: 72px;
		position: relative;

		@mixin atSmall {
			width: 72px;
			margin: 0 5px;
		}
		
		/* turn icons in block format */
		.icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			/* pull icons half of it's height up, and half of it's height right */
			transform: translate(-50%, -50%);
		}
	}
}